* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Roboto', Arial;
  line-height: 1.5;
}

h1 {
    font-family: "Roboto", Arial;
    text-align: center;
    margin-top: 1.5rem;
    user-select: none;
}

h2 {
  text-align: center;
  user-select: none;
  font-size: 1.5rem;
  margin-top: 0.75rem;
}

.container {
  display: flex;
  justify-content: center;
}

.question-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  border: 2px solid black;
}

.questions-container {
  padding: 0.5rem;
}

p{
  font-size: 1rem;
  margin-bottom: 6px;
}


select {
  font-size: 1rem;
  padding: 2px;
  text-align: center;
}


.submitBtnContainer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.submitBtn {
  font-size: 1.1rem;
  padding: 8px;
  background-color: hsl(0, 0, 100%);
  cursor: pointer;
  box-shadow: 2px 2px 2px;
}

.submitBtn:hover {
  background-color: hsl(0, 0, 80%);
}



@media screen and (min-width: 576px) {

  .question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  justify-content: center;
}

p{
  font-size: 1.2rem;
  margin-bottom: 6px;
}
}


@media screen and (min-width: 768px) {
  .question-container {
  display: block;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
}


@media screen and (min-width: 992px) {

}


@media screen and (min-width: 1200px) {

  }